version: 2
jobs:
  build:
    docker:
    - image: circleci/node:10.3

    steps:
    - checkout
    - run: echo 'export PATH=${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin:$PATH' >> $BASH_ENV
    - run:
        name: Install dependencies
        command: yarn
    - run:
        name: Run tests
        command: yarn test /tests/unit
    - run:
        name: Run linter
        command: yarn lint

    - save_cache:
        key: dependency-cache
        paths:
        - ~/.cache/yarn
